.flip-nav .td-navbar {
        background-color: rgb(0, 0, 0) !important;
        color: grey;
}

* {
        background-color: #0f3142;
        color: grey;
}

pre {
        background-color: #092635 !important;
}

span {
        background-color: inherit !important;
}

